# ─── WordPress REST API ───
# URL de base de l'API REST du back-office WordPress
# Format : https://VOTRE-DOMAINE-WP/wp-json/wp/v2
NEXT_PUBLIC_WP_API_URL=https://bk.puralpha.fr/wp-json/wp/v2
NEXT_PUBLIC_GA_MEASUREMENT_ID=GTM-WS47HQCH